@page "/"

<PageTitle>Laser Convert</PageTitle>

<h1>Laser Convert -- STP to SVG</h1>

<p>
    LaserConvert is a .NET tool that reads STEP (.stp or .step) CAD files, detects thin extrusion solids (configurable thickness), 
    rotates each solid into its footprint plane, and outputs 2D SVG outlines for laser cutting.
</p>
<p>Input below the thickness of the material you designed for (in mm) and a tolerance of how close each solid in your STEP file needs to be to that thickness. Then drop your STEP file in the target area. Solids outside of the target thinkness will be ignored.</p>
<p>This application runs inside of your browser only. Your file is not uploaded anywhere.</p>
<p>For more information or to get a command-line version of this application, please visit <a href="https://github.com/jmacentee/Plasticity-LaserConvert" target="_blank">our GitHub repository</a>.</p>